---
layout: default
title: Flannel
---

<div id="home">
  <p>Flannel contains solutions with explanations to selected solved problems. </p>
  <div class="goto-q">
    <input type="text" placeholder="Codeforces Problem Code (eg.736B)." id="pcode">
    <button onclick="gotoprblink(document.getElementById('pcode').value)" id="pclick">Go</button>
  </div>
  <span>We are adding new editorials daily. Please find our current editorial listing below.</span>
  <ul class="posts">
    {% for page in site.solutions %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
   </ul>
  
  {% assign categories_array = "" | split:"|" %}
  {% for page in site.solutions %}
      {% for categories in page.categories %}
          {% assign categories_array = categories_array | push: categories | uniq %}
      {% endfor %}
  {% endfor %}
  {% for cat in categories_array %}
  <div class="front-listing-sect">
  <span class="front-listing-title">{{ cat }}</span>
    <ul class="posts">
    {% for page in site.solutions %}
      {% if page.categories contains cat %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
  
  </div>

  <script>
  function gotoprblink(a) {
    var slen = a.length;
    var qid = a.charAt(a.length - 1);
    var linkto = 'codeforces/problemset/problem/' + a.substring(0, a.length - 1) + '/' + a.charAt(a.length - 1).toUpperCase();
    console.log(linkto);
    window.location = linkto;
  }
  var pcodein = document.getElementById('pcode');
  pcodein.addEventListener("keydown", function (e) {
    if (e.keyCode === 13) {
        gotoprblink(document.getElementById('pcode').value)
    }
  });
</script>
